body{
  font-family: helvetica;

}
.header{
  margin-bottom: 3%;
}
.connexion{

  text-align: center;
  margin-top: 2%;
}
.connexion input{
  margin-bottom: 1%;
}
#button, #lienInscription {
    background-color: #D7254E;
    border-radius: 40px;
    width: 21%;
    height: 8%;
    font-size: 1.5em;
    margin-top: 2%;
    color: white;
  }

#lienInscription{
  text-decoration: none;
  padding: 0 3%;
}

input[type="identifiant"]:focus,
input[type="identifiant"].focus,

input[type="email"]:focus,
input[type="email"].focus,
input[type="password"]:focus,
input[type="password"].focus {
border: solid 1px #4CADC1;
}

#point{

  height: 13px;
  width: 15px;
  margin-top: 4px;
  }


.header{
    background-color: #D7254E;
    display: flex;
    justify-content: center;
  }

.footer {

    margin-top: 50px;
    bottom: 0;
    height: 50px;
    width: 100%;
    text-align: center;
    line-height: 15px;
  }

.conteneur {
    background-color: #D7254E;
    font-size: 1em;
    color: white;
    width: 100%;
    bottom: 0;
    display: flex;
    justify-content: space-around;
    height: 80%;

}
.conteneur a{
  color: white;
}

@media screen and (max-width: 700px){
  #button{
    width: auto;
  }


/*button {
	width:100px;
	height:100px;
	background:#fafafa;
	box-shadow:2px 2px 8px #aaa;
	font:bold 13px Arial;
	border-radius:50%;
	color:#555;
}*/


.container{
 display: flex;
 margin-left: 25%;
}
.identite{
  margin-right: 15%;
}
.login{
  margin-top: 30%;
}
#forgot{
  margin-top: 5%;
}
 
