body{
  margin: 5%;
  font-family: helvetica;
}
.header{
  background-color: #D7254E;
  display: flex;
  justify-content: center;
}
.headline{
  text-align: center;
  color: black;
  font-size: 4em;
  padding-top: 12%;
  padding-bottom: 4%;
}
ul{
  list-style-type:none;
}
h1{
  text-align: center;
}
.contact{
  color: white;
  background: #8c1832;
}
.contacts{
  text-align: center;
  font-size: 2em;
  border: 2px #D7254E solid;
  box-shadow: 6px 6px 6px #D7254E;
}
a:visited{
  color: white;
}
a{
  text-decoration: none;
}
/*
.conteneur{
  background-color: #D7254E;
  font-size: 2em;
  color: white;
  width: 90%;
  bottom: 0;
  display: flex;
  justify-content: space-around;
  border: 2px #D7254E solid;
  box-shadow: 6px 6px 6px #D7254E;
}*/
.map{

  width: 35%;
  margin-top: 5%;
}
.footer {

    margin-top: 50px;
    bottom: 0;
    height: 50px;
    width: 100%;
    text-align: center;
    line-height: 15px;
  }

.conteneur {
    background-color: #D7254E;
    font-size: 1em;
    color: white;
    width: 100%;
    bottom: 0;
    display: flex;
    justify-content: space-around;
    height: 80%;

}
button{
  font-size: 1em;
  width: 100px;
  height: 100px;
}
