body{
  margin: 5%;
  font-family: helvetica;
}
.header{
  background-color: #D7254E;
  display: flex;
  justify-content: center;
}
.headline{
  text-align: center;
  color: black;
  font-size: 4em;
}
ul{
  list-style-type:none;
}
h1{
  text-align: center;
}
.contact{
  color: white;
}
.contacts{
  text-align: center;
  font-size: 2em;
  border: 2px #D7254E solid;
  box-shadow: 6px 6px 6px #D7254E;
}
a:visited{
  color: white;
  text-decoration: none;
}
.conteneur{
  background-color: #D7254E;
  font-size: 2em;
  color: white;
  width: 90%;
  position: fixed;
  bottom: 0;
  display: flex;
  justify-content: space-around;
  border: 2px #D7254E solid;
  box-shadow: 6px 6px 6px #D7254E;
}
.map{
  border: 2px #D7254E solid;
  box-shadow: 6px 6px 6px #D7254E;
  width: 35%;
  margin-top: 5%;
}
.footer {
  position: relative;
  margin-top: 50px;
  bottom: 0;
  height: 50px;
  width: 100%;
  bottom: 0;
  text-align: center;
  line-height: 15px;
}
