body{
  margin: 5%;
  font-family: helvetica;
}
.header{
  background-color: rgb(137,157,164);
  display: flex;
  justify-content: center;
}

@media screen and (max-width: 1024px){
  h2{
    font-size: 0.9em;
  }
  .noms{
    font-size: 0.7em;
    margin: auto;
    padding: 10px;
  }
}


h1{
  text-align: center;
}
.contact{
  color: white;
}
.contacts{
  text-align: center;
  font-size: 1.5em;
  border: 2px #D7254E solid;
  box-shadow: 6px 6px 6px #D7254E;
  margin-top: 11%;
  width: 80%;
  margin-left: 10%;
  margin-top: 4%;
}
a:visited{
  color: white;
  text-decoration: none;
}

ul{
  list-style-type:none;
}


.footer {
  position: relative;
  margin-top: 50px;
  height: 50px;
  width: 100%;
  bottom: 0;
  text-align: center;
  line-height: 15px;
}
