body{
  margin: 5%;
  font-family: helvetica;
}
.header{
  background-color: rgb(137,157,164);
  display: flex;
  justify-content: center;
}

@media screen and (max-width: 1024px){
  h2{
    font-size: 0.9em;
  }
  .noms{
    font-size: 0.7em;
    margin: auto;
    padding: 10px;
  }
}


h1{
  text-align: center;
}
.contact{
  color: white;
}
.contacts{
  text-align: center;
  font-size: 1.5em;

  margin-top: 11%;
  width: 80%;
  margin-left: 10%;
  margin-top: 11%;
}
a:visited{
  color: white;
  text-decoration: none;
}
/*
  margin-top: 11%;
  width: 80%;
  margin-left: 10%;
  margin-top: 11%;
}
*/
a:visited{
  color: white;
  text-decoration: none;
}

ul{
  list-style-type:none;
}

.footer {
    background-color: rgb(137,157,164);
    margin-top: 50px;

    height: 25%;
    width: 100%;

  }
