body{
  font-family: helvetica;
}

.contact{
  margin-left: 10%;
  margin-top: 29%;
  width: 15%;
}

.headline{
  text-align: center;
  color: black;
  font-size: 2em;
}

.map{
  width: 50%;
  margin-top: -31%;
  margin-left: 10%;
  float: right;
  margin-right: 5%;
}

.header{
  background-color: rgb(137,157,164);
  display: flex;
  justify-content: center;
}

.contenu{
  width: auto;
  margin: 120px;
}
.formateur button[type=submit], .candidat button[type=submit] {
  font-weight: bold;
}
a:visited{
  color: white;
  text-decoration: none;
}

ul {
  display: flex;
}

a{
  float:left;
margin:2px;
}

/* CSS de la page question */

.formQuestions{
  width: 90%;
  text-align: center;
  margin-top: 3%;
  margin-left: auto;
  margin-right: auto;
}

.formQuestions  textarea {
    margin-bottom: 4%;
    width: 50%;
    height: 150px;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: #f8f8f8;
    resize: none;
}
.formQuestions input[type=text] {
    margin-bottom: 4%;
}
.formQuestions input[type=text]:focus {
    border: 3px solid #555;
}
.formQuestions input[type=submit]{
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.footer {
    background-color: rgb(137,157,164);
    margin-top: 10%;
    width: 100%;
  }

  }
  .bouton{
    display: flex;
    justify-content: space-around;
  }

  .boutons{
    display: flex;
    justify-content: space-around;
    margin-top: 5%;
  }
  .boutons a{
      color: white;
  }
