body{
  font-family: helvetica;
}

.contact{
  margin-left: 70%;
margin-top: 28%;
width: 50%;
}

.headline{
  text-align: center;
  color: black;
  font-size: 2em;
}
.choix{
  display: flex;
  justify-content: space-around;
}
<<<<<<< HEAD
.formateur button, .candidat button{
=======
.map{
  width: 50%;
margin-top: -31%;
margin-left: 10%;
}
/*button{
>>>>>>> f2af58b01e7e0bdbd560648df66617613a963e6f
  width: 300px;
  height: 200px;
  border: 4px solid black;
  border-radius: 8px 0 8px 0;
  background-color: #D7254E;
  font-size: 2em;
  color: white;
<<<<<<< HEAD
=======
}*/
.header{
  background-color: rgb(137,157,164);
  display: flex;
  justify-content: center;
>>>>>>> f2af58b01e7e0bdbd560648df66617613a963e6f
}
.contenu{
  width: auto;
  margin: 120px;
}
.formateur button[type=submit], .candidat button[type=submit] {
  font-weight: bold;
}
a:visited{
  color: white;
  text-decoration: none;
}
<<<<<<< HEAD
.bouton{
  background-color: #D7254E;
=======
.boutons{
  background-color: rgb(137,157,164);
>>>>>>> f2af58b01e7e0bdbd560648df66617613a963e6f
  display: flex;
  justify-content: space-around;
}

ul {
  display: flex;
}
.boutons a {
display:block;
width:150px;
line-height:50px;
text-align:center;
vertical-align:middle;
background: rgb(137,157,164);
color:white;
text-decoration:none;
}
.boutons a:hover {
background:url(images/bouton-noir-2.png) no-repeat;
}
a{
  float:left;
margin:2px;
}

/* CSS de la page question */

.formQuestions{
  width: 90%;
  text-align: center;
  margin-top: 3%;
  margin-left: auto;
  margin-right: auto;
}

.formQuestions  textarea {
    margin-bottom: 4%;
    width: 50%;
    height: 150px;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: #f8f8f8;
    resize: none;
}
.formQuestions input[type=text] {
    margin-bottom: 4%;
}
.formQuestions input[type=text]:focus {
    border: 3px solid #555;
}
.formQuestions input[type=submit]{
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.footer {
    background-color: rgb(137,157,164);
    margin-top: 50px;
    bottom: 0;
    height: 25%;
    width: 100%;
    line-height: 15px;

  }
