body{
  font-family: helvetica;
}
h1{
  text-align: center;
  color: black;
}
.headline{
  text-align: center;
  color: black;
  font-size: 4em;
}
.bouton{
  display: flex;
  justify-content: space-around;
}
button{
  width: 300px;
  height: 200px;
  border: 4px solid black;
  border-radius: 8px 0 8px 0;
  background-color: #D7254E;
  font-size: 2em;
  color: white;
}
.header{
  background-color: #D7254E;
  display: flex;
  justify-content: center;
}
.contenu{
  width: auto;
  margin: 167px;
}
button[type=submit] {
  font-weight: bold;
}
a:visited{
  color: white;
  text-decoration: none;
}
.menu{
  
}
ul {
border-bottom: 1px solid #ccc;
list-style: none;
margin: 0 0 1.5rem 0;
justify-content: space-between;
height: 40px;
background: white;
position: fixed;
}

li {
background-image: linear-gradient(
  to bottom,
  transparent 50%,
  rgba(162,211,156, 1) 50%,
  rgba(162,211,156,1) 95%,
  rgba(124,197,118,1) 95%
);
background-size: 100% 200%;
background-position: top center;
color: #666;
display: block;
text-align: center;
text-decoration: none;
transition: all .25s ease-in-out;
&:hover {
  background-position: bottom center;
  color: rgba(0,0,0,.75);
}
ul {
  display: flex;
  width: 96%;
}
